<h1>the Birdhive Boys</h1>

<div id="right">
  <h2 class="mailing-list">Mailing List</h2>
  <div class="mailing-list">
    <%= form_for @contact do |f| -%>
    <table>
      <tr> <td><%= f.label :email, "E-Mail:" -%></td> <td><%= f.text_field :email -%></td> </tr>
      <tr> <td><%= f.label :name, "Name:" -%></td>    <td><%= f.text_field :name -%></td> </tr>
      <tr>
        <td colspan="2" class="submit">
          <label for="contact_is_street_team">Join <%= link_to 'Street Team', '#whatsstreetteam' -%>
            <%= f.check_box :is_street_team -%>
          </label>

          <input type="submit" value="Join" />
        </td>
      </tr>
    </table>
    <%- end -%>
  </div>

  <h2 class="the-corn-lady">The Corn Lady</h2>
  <div class="the-corn-lady">
    <p>
      Our first EP consists of three original tracks and one of our favorite standards.
      Please download it and let us know what you think.
    </p>

    <div id="player"></div> 
    <ol>
      <li class="track1"><a href="/the-corn-lady/honestman.mp3">Honest Man</a> <em>A. Koehler</em></li>
      <li class="track2"><a href="/the-corn-lady/honey.mp3">Honey, You Don't Know My Mind</a> <em>J. Skinner</em></li>
      <li class="track3"><a href="/the-corn-lady/useme.mp3">Use Me Like You Used To</a> <em>S. Bruce</em></li>
      <li class="track4"><a href="/the-corn-lady/mirror.mp3">Mirror On The Wall</a> <em>Z. Bruce</em></li>
    </ol>

    <a href="/The-Birdhive-Boys.The-Corn-Lady.zip" class="download">Download <em>The Corn Lady</em></a>
  </div>

</div>

<div id="left">
  <h2>Upcoming Shows</h2>
  <div class="gigs">
    <table>
      <%= render @shows -%>
    </table>

    <% if @edit %>
      <%= link_to "Add Show", new_show_url -%>
    <% end %>
  </div>

  <h2 class="biography">Biography</h2>
  <div class="biography">
    <p>
    With the "classic" bluegrass look and sound, the Birdhive Boys have been compared to Bill Monroe's Bluegrass Boys and
    neo-traditionalists the Johnson Mountain Boys. Holding down a two-year long residency at the National Underground in
    Manhattan's Lower East Side, The Boys have had the privilege of sharing the stage with many fine acts, including
    national touring act The Holy Ghost Tent Revival, Grammy winners Dailey and Vincent, and New York City bluegrass
    heavyweight Michael Daves (Chris Thile, Steve Martin). They recently finished a 4-song EP called "The Corn Lady",
    available for free download through their website, and hard copies for sale (with complementary autographs!) directly
    from the Boys at their shows. 
    </p>

    <img src="./images/boys.gif" />

    <p>
    The Birdhive Boys started in 2008 with brothers Zack and Sam Bruce rediscovering the songs of their youth. Mom and
    Dad were casual bluegrass pickers and singers, and the songs of The Stanley Brothers, Del McCoury, Doc Watson, and
    Tony Rice comprised much of Zack and Sam's childhood soundtrack.  The Bruce brothers started playing the brother
    harmony repertoire in Zack's downtown loft, and after about a year they decided to put together a full band for
    shows. They were able to recruit fellow New Jerseyan bassist-of-all-trades Max Johnson, St. Louis flatpicker Justin
    Camerer, and Ellery Marshall on the banjo.  The Boys can be found in venues in and around NYC, such as the
    <a href="http://livingroomnyc.com">Living Room</a>, <a href="http://rockwoodmusichall.com">Rockwood Music Hall</a>
    and the <a href="http://thenationalunderground.com">National Underground</a>.
    </p>
  </div>
</div>
