<table>
  <tr>
    <td>
      <%= f.label :title, "Title:" -%>
    </td>
    <td>
      <%= f.text_field :title -%>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :venue, "Venue:" -%>
    </td>
    <td>
      <%= f.text_field :venue -%>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :venue_link, "Venue URL:" -%>
    </td>
    <td>
      <%= f.text_field :venue_link -%>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :play_at, "At:" -%>
    </td>
    <td>
      <%= f.datetime_select :play_at, :use_short_month => true, :start_year => Time.now.year, :minute_step => 30 -%>
    </td>
  </tr>
</table>
