<tr>
  <td class="date"><div class="month"><%= month_for(show.play_at) -%></div><div class="day"><%= show.play_at.day -%></div></td>
  <td>
    <strong><%= show.title -%></strong>
    <%= show.venue_link ? link_to(show.venue, show.venue_link) : show.venue -%> at <%= time_for(show.play_at) -%>
  </td>

  <% if @edit %>
    <td><%= link_to "Edit", edit_show_url(show) -%></td>
  <% end %>
</tr>

